<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><{$title}></title>
	<link rel="stylesheet" href="__PUBLIC__/home/bocai/iconfont.css" />
	<link rel="stylesheet" href="__PUBLIC__/home/bocai/deal.css" />
	<link rel="stylesheet" href="__PLUG-IN__/layui-v2.3.0/layui/css/layui.css" />
	<script src="__JS__/config.js"></script>
	<script src="__JS__/jquery-3.2.1.min.js"></script>
	<script src="__JS__/jquery.cookie.js"></script>
	<script src="__PLUG-IN__/layui-v2.3.0/layer/layer.js"></script>
	<script src="__PUBLIC__/home/bocai/deal.js"></script>
</head>
<body>
	<div class="deal-container">
		<div class="l fl clearfix">
			<div class="time fl">
				<div class="mb-3">倒計時</div>
				<div>00:00</div>
			</div>

			<div class="execute fr">
				<div class="t">
					<div>
						<div class="mb-3">現價</div>
						<div class="label-bg now-price">00.00</div>
					</div>
					<div>
						<div class="mb-3">執行價</div>
						<div class="label-bg" id="executePrice">00.00</div>
					</div>
					<div>
						<div class="mb-3">成交價</div>
						<div class="label-bg" id="lastPrice">00.00</div>
					</div>
				</div>
				<div class="b">
					<div>
						<div class=>當前期數</div>
						<div class="label-bg" id="openNumber">00</div>
					</div>
				</div>
			</div>

			<div class="order fl">
				<table class="layui-table" lay-size="sm" lay-skin="line">
					<thead>
						<tr>
							<th>期數</th>
							<th>執行價</th>
							<th>成交價</th>
							<th>方向</th>
							<th>開盤時間</th>
						</tr>
					</thead>
					<tbody id="log">
					</tbody>
				</table>
			</div>
		</div>
		<div class="r fr">
			<div class="money">
				<div class="mb-6">下注金額</div>
				<div class="number">
					<span class="span span-active">200</span>
					<span class="span">500</span>
					<span class="span">1000</span>
					<span class="span other">其它</span>
					<input type="number" name="other" value="0" />
				</div>
				<div class="mb-6 mt-15">購買方向</div>
				<div class="type">
					<span class="span span-active">買漲</span>
					<span class="span">買跌</span>
				</div>
				<div class="mb-3 mt-15">餘額</div>
				<div class="balance">
					<span id="balance">NT$: 00.00</span>
					<button class="update" title="刷新餘額" onclick="refresh()">
						<i class="layui-icon layui-icon-refresh-1"></i>
					</button>
				</div>
				<div class="confirm mt-15" onclick="okorder()">確認下注</div>
				<div class="confirm mt-15 refresh" onclick="allrefresh()">刷新數據</div>
				<div class="confirm mt-15" onclick="getlog()">交易記錄</div>
			</div>
		</div>
	</div>
</body>
</html>