<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>歷史開獎紀錄</title>
	<link rel="stylesheet" href="__PUBLIC__/home/bocai/iconfont.css" />
	<link rel="stylesheet" href="__PLUG-IN__/layui-v2.3.0/layui/css/layui.css" />
	<script src="__JS__/config.js"></script>
	<script src="__JS__/jquery-3.2.1.min.js"></script>
	<script src="__PLUG-IN__/layui-v2.3.0/layui/layui.js"></script>
	<style>
		ul,li{list-style:none;padding:0;margin:0;}
		body{max-width:1000px;margin:0 auto;padding:0;}
		.layui-table, .layui-table-view{margin:0;}
		.switch:after{clear:both;height:0;content:'.';visibility:hidden;display:block;}
		.switch{height:38px;line-height:38px;}
		.switch li{float:left;text-align:center;cursor:pointer;padding:0 30px;border-right:1px solid #E6E6E6;}
		.active{background:#009688;color:white;}
	</style>
</head>
<body>
	<div class="deal-container">
		<div class="switch">
			<ul>
				<li class="active">今天</li>
				<li>昨天</li>
				<li>前天</li>
			</ul>
		</div>
		<table class="layui-table" id="log"></table>
	</div>

	<script>
		$(function() {
			layui.use('table', function() {
				var table = layui.table
				var tableIns = table.render({
					elem: '#log',
					url: '<{:U("historylog")}>',
					page: true,
					where: { 'day': 0 },
					height: 317,
					skin: 'row',
					size: 'sm',
					cols: [[
						{field:'number',title:'期號',width:80,align:'center',unresize:true},
						{field:'execute_price',title:'執行價',width:200,align:'center',unresize:true},
						{field:'last_price',title:'成交價',width:200,align:'center',unresize:true},
						{field:'last_direction_name',title:'最終方向',width:80,align:'center',unresize:true},
						{field:'create_time',title:'開盤時間',width:180,align:'center',unresize:true}
					]]
				})

				// 切换选项卡
				$('.switch li').each(function(idx) {
					$(this).click(function() {
						$('.switch li').removeClass('active')
						$($('.switch li')[idx]).addClass('active')

						tableIns.reload({
							where: { 'day': idx }
						})
					})
				})
			})
		})
	</script>
</body>
</html>