/*内容容器*/
.content-buy{
    width: 72%;
    background-color: #fff;
    float: right;
    padding: 10px 40px 30px 40px;
    border-left: 1px solid #ECF0F2;
}

/*选项卡容器*/
.buy-tab{
	padding-left: 34px;
	border-bottom: 1px solid #ddd;
	height: 46px;
}

/*选项卡1*/
.tab1{
	width: 25%;
	height: 46px;
	float: left;
	border: 1px solid #ddd;
	border-bottom: 1px solid #fff;
	margin-right: 10px;
}

/*选项卡2*/
.tab2{
	width: 25%;
	height: 46px;
	float: left;
	border: 1px solid #ddd;
	background-color: #F0EFEE;
}


/*购买比特币*/
.buy-BTC
{
	font-size: 18px;
	color: #000 ;
	height: 100%;
	width: 100%;
	display: block;
	justify-content: center;
	align-items: center;
}
/*修改默认hover事件*/
.buy-BTC:hover{
	text-decoration: none;
	color: #000;
}


/*购买以太币*/
.buy-ETC{
	font-size: 18px;
	color: #666;
	height: 100%;
	width: 100%;
	display: block;
	justify-content: center;
	align-items: center;
	
}
/*修改默认hover事件*/
.buy-ETC:hover{
	text-decoration: none;
	color: #666;
}

/*首行按钮*/
.point {
	color: #ddd;
	font-size:25px;
	margin-top: -30px;
	position: relative;
	top: 4px;
}

.detail {
	padding: 34px 0 30px 35px;
	border-bottom: 1px dashed #ccc;
	font-size: 14px;
}

.buy-area {
    width: 550px;
    margin: 30px 0 0 34px;
}

.sell-available {
	margin-left: 10px;
}

/*货币转换框*/
.buy-area,
.form-group-buy { 
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
	position: relative;
	margin-top: 20px;
}

/*金钱转换*/
.widget-coin-field,
.widget-coin-twd {
	height: 45px;
	font-size: 18px;
	display: block;
	margin-left: 0;
	padding-left: 10px;
	width: 260px;
	transition: background-color 1s ease-in-out;
}

.currency-pill-inner {
	width: 50px;
	height: 20px;
	line-height: 20px;
	position: absolute;
	padding: 1px 2px;
	right: 10px;
	bottom: 14px;
	text-align: center;
	font-weight: bold;
	border-radius: 3px;
	color: white;
	background-color: #CCC;
}

.form-label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: normal;
}

/*#widget-coin-field,*/
/*#widget-coin-twd {*/
    /*height: 45px;*/
    /*font-size: 18px;*/
    /*display: block;*/
    /*margin-left: 0;*/
    /*padding-left: 10px;*/
    /*width: 200px;*/
    /*transition: background-color 1s ease-in-out;*/
/*}*/

/*选择付款方式*/

.radio,
.radio-name,
.radio-description {
    display: inline-block;
    vertical-align: middle;
}

.radio-form {
    margin-top: 20px;
    margin-bottom: 20px;
}

.dash-radio {
    margin: 5px 0 5px 0;
    border-top: 1px dashed #ccc;
    width: 100%;
}

.dash {
    margin: 30px 0;
    border-top: 1px dashed #ccc;
}

.radio-row {
    display: block;
    margin: 10px 0 10px 0;
}

.radio-disabled {
    color: #999;
}

.radio {
    width: 5%;
}

.radio-name {
    width: 25%;
}

.radio-description {
    width: 65%;
}

/*单选按钮*/
#payment-type,#payment-type-pay,#payment-type-ETH,#payment-type-pay-ETH {
    margin: -11px;
    width: 17.5px;
    height: 17.5px;
    vertical-align: middle;
    padding: 0;
    margin-left: 4px;
}

#submit-buy-form {
    width: 140px;
    font-size: 18px;
    background: #DDD;
    color: #FFF;
    box-shadow: inset 0 -3px 0 #AAA;
    border: none;
    margin-top: 20px;
    opacity: 1;
    
}

.buy-button-info,
.order-notices {
    clear: both;
    color: #E54;
    margin-top: 10px;
}

small {
    line-height: 10px;
    padding-top: 10px;
    display: block;
    color: #666;
}

.highlight {
    color: #E54 !important;
}

/*常见问题*/

.title-buy {
    display: block;
    margin-bottom: 10px;
}

.ques-buy li {
    color: #999;
    margin-bottom: 3px;
    margin-left: 15px;
    list-style-type: disc;
    list-style-position: inside;
    text-indent: -1em;
}

.ques-buy a {
    color: #999;
}

/*input内的小样式*/
.currency-pill-inner {
    width: 50px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    padding: 1px 2px;
    right: 10px;
    bottom: 14px;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
    color: white;
    background-color: #CCC;
}

.arrows-buy {
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    bottom: 12px;
    margin-right: 0;
    background-position: -98px -93px;
}

.form-group-buy {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    position: relative;
    margin-top: 20px;
}



#submit-buy-form-ETH{
	font-size: 18px;
	border: none;
	width: 140px;
    color: #fff;
    background-color: #DDDDDD;
    box-shadow: inset 0 -3px 0 #AAA;
    margin-top: 20px;
}

.detail br{
	display: none;
}

.cashBalance{
	margin-left: 10px;
}

@media (min-width: 771px) and (max-width: 891px) {

}

/*小屏幕自适应*/
@media (max-width: 770px) {
	/*内容容器*/
	.content-buy{
        width: 100%;
        padding: 0 16px 30px;
        margin-top: 46px;
        border-left: none;
	}

    .arrows-buy {
        display: none;
    }

    .radio-form,
    #submit-buy-form-ETC {
        width: 100%;
    }

	/*修改总容器的左内边距*/
	.buy-tab{
		padding-left:4% !important;
	}
	
	/*选项卡1*/
	.tab1{
		width: 46% !important;
	}
	
	/*选项卡2*/
	.tab2{
		width: 46% !important;
	}
	
	/*控制字体大小*/
	.buy-tab a{
		font-size: 16px;
	}
	
	/*细节容器*/
	.detail{
		padding-left: 0;
	}
	
	.detail p{
		font-size: 14px;
	}

    .buystate-1,
    .form-group-buy {
        width: 100% !important;
    }

    .buy-area,
    #submit-buy-form {
        width: 100%;
        margin: 0;
    }
    
    #payment-type, #payment-type-pay,#payment-type-ETH,#payment-type-pay-ETH {
	    margin-left: -2px;
	}
	#submit-buy-form,#submit-buy-form-ETH{
		margin-top: 10px;
		width: 100%;
	}
	
	.sell-available,.cashBalance{
		margin-left: 12px;
	}
		
	.detail br{
		display: block;
	}

}

/*平板自适应*/
@media (max-width: 992px) {
	/*选项卡1*/
	.tab1{
		width: 30%;
	}
	
	/*选项卡2*/
	.tab2{
		width: 30%;
	}

	
}