.content-messagetip {
    width: 72%;
    background-color: #fff;
    float: right;
    padding: 10px 40px 30px 40px;
    border-left: 1px solid #ECF0F2;
}

.content-messagetip h3 {
    color: #999;
    font-size: 18px;
    margin: 5px 0;
}

.notifications {
    margin: 30px 0;
}

.notifications .item-messagetip {
    line-height: 30px;
}

.notifications li {
    vertical-align: middle;
    outline: none;
    list-style: none;
}

.notifications .item-messagetip .time {
    margin-right: 10px;
}

.notifications .item-messagetip .messageTitle {
    font-size: 14px;
    font-weight: bold;
}

.notifications .item-messagetip span a {
    text-decoration: none;
    outline: none;
    color: #38B;
    display: inline-block;
}

.messagePagenum>li>a {
    cursor: pointer;
}


/*消息通知具体内容样式*/
#message_content_time {
    color: #999;
    margin-top: 20px;
}

#message_content {
    margin-top: 30px;
    width: 80%;
}


/*小屏幕自适应*/
@media (max-width: 770px) {
    /*内容容器*/
    .content-messagetip {
        width: 100%;
        padding: 0 16px 20px;
        margin-top: 46px;
        border-left: none;
    }
}