
*{
	padding: 0;
	margin: 0;
}

/**
 * 加载框
 */
.sg-loading img {
    width: 30px;
    height: 30px;
    position: relative;
    top: -1;
    animation: sg-loading 0.8s linear infinite;
    -moz-animation: sg-loading 0.8s linear infinite; 
    -webkit-animation: sg-loading 0.8s linear infinite;
    -o-animation: sg-loading 0.8s linear infinite;   
}

@keyframes sg-loading {
    form {  }
    to {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);       
        -webkit-transform: rotate(360deg);   
        -o-transform: rotate(360deg);        
        -moz-transform: rotate(360deg);
    }
}

/**
 * 富文本内容
 */
.sg-rich-text {
	width: 100%;
}
.sg-rich-text img {
	max-width: 100%;
}

/*底部开始*/
.footer-main{
	width: 100%;
	height: 150px;
	border-top: 1px solid #ECF0F2;
	text-align: center;
	
}

.ft>a{
	display: inline-block;
	text-decoration: none;
	color: #ccc;
	margin: 0 8px;
	font-size: 12px;
	margin: 50px 10px 20px 5px;

}

.ft>span{
	color: #ccc;
}
/*底部间距媒体查询*/
@media screen and ( max-width: 770px ){
	.ft>a{
		margin: 20px 5px 5px 0;
	}
	.footer-logo{
		margin: 45px 0 20px 0;
	}
}

/*底部结束*/

.menu-container{
	width: 100%;
	padding: 0;
	margin-top: 40px;
	/*底部阴影效果*/
	box-shadow: 1px 2px 2px #E0E0E0;
	position: relative;
}
/*导航条容器*/
.content-container{
	max-width: 1200px;
	padding: 0;
	margin: 0 auto;
}

/*导航条头部隐藏提示-*/
.nav-hd{
	position: relative;
	height: 0px;
	background-color: #666;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	padding: 0;
}

/*提示文字*/
.hint{
	height: 40px;
	line-height: 40px;
	color: #ED5457;
	font-weight: bold;
	font-size: 14px;
}

/*关闭按钮*/
.close{
	position: absolute;
	color: #fff;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	right: 30px;
}

/*导航条内容*/
.nav-bd{
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
}

/*logo*/
.logo{
	margin: 0;
	padding: 0;
	height: 80px;
	background-color: #fff;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 60px;
	cursor: pointer;
	
}

/*logo图片*/
.logo-img{
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 10px;
}

/*logo文字*/
.logo-text{
	display: block;
	margin: 0;
	float: left;
	line-height: 50px;
	color: #3388BB;
    font-size: 30px;
    font-weight: bold;
}

/*导航条*/
.nav-container{
	margin: 0;
	padding: 0;
	height: 80px;
	background-color: #fff;
}

/*ul容器*/
.navbar{
	margin: 0;
	padding: 0;
	height: 100%;
	border: none;
	background-color: #fff;
}

/*ul*/
.nav-ul{
	height: 80px;
	list-style: none;
	margin: 0;
	/*未登陆隐藏*/
	display: none;
}

/*li*/
.nav-li{
	height: 80px;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 20px;
}


/*a*/
.nav-a{
	color: #3388BB;
	font-size: 20px;
	text-decoration: none;
	display: inline-block;
	height: 78px;
	line-height: 78px;
	border-bottom: 2px solid #fff;
}

/*第一个选项卡默认状态*/
.nav-a-first{
	color: #000;
	border-bottom: 2px solid #3388BB;
}

/*a*/
.nav-a:hover{
	text-decoration: none;
	color: #226697;
	
}

.nav-span{
	color: #3388BB;
}

.Spinner{
	top: 75%;
	left: -1px;
	min-width: 90px;
}

.Spinner li{
	display: flex;
	justify-content: center;
	align-items: center;
}

.Spinner a{
	color: #3388BB !important;
}

.Spinner a:hover{
	background-color: #fff !important;
	color: #216793 !important;
}

/*隐藏手机端*/
.dropdown-List{
	display: none;
}

.logo-phone{
	display: none;
}

/*测试按钮*/
.ceshi{
	position: absolute;
	top: 0px;
}




/* 超小屏幕（手机，小于 768px） */
/* 没有任何媒体查询相关的代码，因为这在 Bootstrap 中是默认的（还记得 Bootstrap 是移动设备优先的吗？） */

/* 小屏幕（手机，小于等于 768px） */
@media (max-width: 770px) {
	/*logo*/
	.logo{
		display: none;
	}
	/*隐藏ul*/
	.nav-ul{
		display: none !important;
	}
	.nav-bd{
		margin-top: 10px;
		height: 40px;

	}
	
	.menu-container{
		width: 100%;
		padding: 0;
		margin-top: 60px;
		box-shadow: 1px 1px 1px #E0E0E0;
		/*box-shadow: none;*/
		/*border-bottom: 2px solid #ddd;*/
	}
	
	.nav-container{
		height: 40px;
		background-color: #fff;
		padding: 0 16px;
		/*未登录隐藏下边框阴影效果*/
		/*border: 1px solid #D9DDE0;*/
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.dropdown-List{
		width: 100%;
		height: 40px;
		background-color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid #D9DDE0;
	    margin-bottom: -2px;
		/*未登陆隐藏账户*/
		/*display: none;*/
		
	}
	
	.dropdown-List-a{
		display: flex;
		justify-content: center;
		align-items: center;
		color: #1A1A1A;
		font-size: 16px;
		width: 100%;
		height: 100%;
	}
	
	.dropdown-List-a:hover{
		text-decoration: none;
	}

	.dropdown-ul{
		width: 100%;
		top: 95%;
	}
	
	.dropdown-ul li{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 40px;
	}
	
	.dropdown-a{
		padding: 0 !important;
		color: #1A1A1A;
		font-size: 16px;
		text-align: center;
		width: 100%;
		height: 100%;
	}
	.dropdown-List-span{
		color: #3388BB;
	}
	/*手机端logo*/
	.logo-phone{
		height: 40px;
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 0;
		/*手机端登陆隐藏logo*/
		display: none;
	}
	/*手机端logo图片*/
	.logo-img-phone{
		width: 36px;
		height: 36px;
		float: left;
		margin-right: 6px;
		margin-bottom: 1px;
		
	}
	/*手机端logo文字*/
	.logo-text-phone{
		font-size: 22px;
		height: 40px;
		line-height: 40px;
		margin: 0;
		color: #3388BB;
	}

}
	
/* 中等屏幕（平板，小于等于 992px） */
@media (max-width: 992px) {
	.nav-li{
		margin: 0 12px;
	}
}

/* 大屏幕（显示器，小于等于 1200px） */
@media (max-width: 1200px) {

}




/*body {*/
    /*font-family: 微软雅黑;*/
    /*padding: 0;*/
    /*margin: 0;*/
/*}*/

/*导航条满屏*/
.top-red {
    width: 100%;
    height: 40px;
    background: #3388BB;
}

.header-list {
	padding-left: 60px;
}

.container,
.col-xs-6 {
	padding: 0;
}


.header {
    height: 40px;
    background: #3388BB;
}

.header-list-left,
.header-list-right {
    list-style: none;
}
.header-list-left {
	width: 40%;
}
.header-list-right {
	width: 60%;
}

/*左侧导航条内容*/
.header-list-left li {
    float: left;
    line-height: 40px;
    font-size: 14px;
}


.header-list-left li a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 0 10px 0 10px;
}

.header-list-right a {
	text-decoration: none;
	color: #fff;
	display: block;
	padding: 0 5px 0 5px;
}

.header-list-left li a:hover,
.header-list-right a:hover {
    background: #226697;
}

.header-list-left li .active {
    background: #3388BB;
}

.active1>a{
    background: #3388BB !important;
}

/*下拉框样式*/
.drop-more {
    color: #fff;
    cursor: pointer;
    padding: 0 10px 0 10px;
}

.drop-more:hover {
    background: #226697;
}

.toplist-a {
    background: #3388BB;
    min-width: 0;
    border-radius: 0;
    margin: 0;
    width: 100px;
    height: 80px;
    padding: 0;
}

.toplist-b {
    background: #3388BB;
    min-width: 0;
    border-radius: 0;
    margin: 0;
    width: 110px;
    height: 120px;
    padding: 0;
}

.toplist-c {
    height: 80px;
}

.toplist-a li {
    display:block;
    width: 98px;
    height: 40px;
    padding: 8px 0 10px 0;
    margin: 0;
    text-align: center;
}

.toplist-b li {
    width: 108px;
    height: 40px;
    margin: 0;
    padding-left: 20px;
    cursor: pointer;
}


.toplist-a li:hover,
.toplist-a li a:hover,
.toplist-b li:hover {
    background: #226697;
    color: #fff;
}

/*右侧导航条内容*/
.header-list-right {
    height: 40px;
    line-height: 40px;
}

.header-list-right li {
    font-family: Helvetica, 微软雅黑;
    float: right;
    color: #FEFFC3;
}

.font-white li span{
    color: #fff;
}

.top-none {
    display: none;
}

.top-inblock {
    display: inline-block;
}

.glyphicon-ok-1,
.glyphicon-ok-2 {
    display: block;
    width: 108px;
    height: 40px;
    background: #3388BB;
    line-height: 40px;
    text-align: right;
    position: absolute;
    padding-right: 30px;
    left: -1px;
    z-index: -1;
}

.glyphicon-ok-2 {
    padding-right: 10px;
}



/* 响应式导航条侧边栏布局 */
#wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    padding-left: 0;
    transition: all 0.5s ease;
}
#wrapper.toggled {
    padding-left: 250px;
}
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}
#wrapper.toggled #page-content-wrapper {
    margin-right: -250px;
    position: absolute;
}

#page-content-wrapper span{
    background: #fff;
}

#sidebar-wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    background: #364657;
    height: 100%;
    left: 250px;
    width: 0;
    margin-left: -250px;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.5s ease;
    z-index: 10000;
}
#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}


/* 三条横线按钮的特效 */
.hamburger {
    background: transparent;
    border: none;
    display: block;
    height: 28px;
    position: fixed;
    top: 17px;
    margin-left: 15px;
    width: 32px;
    z-index: 9999;
}
.hamburger:hover {
    outline: none;
}
.hamburger:focus {
    outline: none;
}
.hamburger:active {
    outline: none;
}
.hamburger.is-closed:before {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    color: #ffffff;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    opacity: 0;
    text-align: center;
    width: 100px;
}
.hamburger.is-closed:hover before {
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    display: block;
    opacity: 1;
}
.hamburger.is-closed:hover .hamb-top {
    -webkit-transition: all 0.35s ease-in-out;
    top: 0;
}
.hamburger.is-closed:hover .hamb-bottom {
    -webkit-transition: all 0.35s ease-in-out;
    bottom: 0;
}
.hamburger.is-closed .hamb-top {
    -webkit-transition: all 0.35s ease-in-out;
    background-color: rgba(255, 255, 255, 0.7);
    top: 5px;
}
.hamburger.is-closed .hamb-middle {
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: -2px;
    top: 50%;
}
.hamburger.is-closed .hamb-bottom {
    -webkit-transition: all 0.35s ease-in-out;
    background-color: rgba(255, 255, 255, 0.7);
    bottom: 5px;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    height: 4px;
    left: 0;
    position: absolute;
    width: 100%;
}
.hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    background-color: #ffffff;
    margin-top: -2px;
    top: 50%;
}
.hamburger.is-open .hamb-middle {
    background-color: #ffffff;
    display: none;
}
.hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    background-color: #ffffff;
    margin-top: -2px;
    top: 50%;
}
.hamburger.is-open:before {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    color: #ffffff;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    opacity: 0;
    text-align: center;
    width: 100px;
}
.hamburger.is-open:hover before {
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    display: block;
    opacity: 1;
}


/* 私人样式 */

.img-login {
    height: 60px;
    background: #112222;
}

.img-login img{
    width: 30px;
    height: 30px;
    margin: 15px 0 0 15px;
}

.warpp li a{
    display: block;
    height: 45px;
    background: #697785;
    color: #fff;
    text-align: center;
    margin: 15px;
}

.warpp li a:hover{
    background: #A1AAB2;
}

.warpp li a:focus{
    background: #3388BB;
}


.top-language-radio {
    color: #fff;
    font-size:16px;
	margin-left: 20px;
}

.radio_width {
	width: 100%;
	margin: 20px 0 0 20px;
}

.radio_width input{
	height: 20px;
}

.radio_width input{
	display: inline;
}

.radio_width span {
	margin-left: 10px;
	margin-top: 2px;
	position: absolute;
	cursor: pointer;
}

#page-content-wrapper {
    display: none;
}

.top-low-width {
    display: none;
}

.top-money-country {
    font-size:16px;
    text-align: center;
    color: #ffffcc;
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 15px;
}

#TWD {
    background: #226697;
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 0;
}

#TWD ul li {
    line-height: 40px;
}

/*宽度过低时的登陆登出加载*/
#login-href,
#logout-href {
    width: 80px;
    height: 32px;
    line-height: 12px;
    float: right;
    margin: 15px 15px 0 0;
    background: grey;
    color: #fff;
    font-weight: bold;
    display: block;
    border-radius: 5px;
    text-align: center;
}

#login-href:hover,
#logout-href:hover {
    background: #A1AAB2;
}

#login-bell {
    display: inline-block;
    color: #fff;
    position: relative;
    top: -40px;
    left: 120px;
    cursor: pointer;
}

/*用户信息和登出*/
.user-Logout {
	list-style: none;
	display: none;
}

.user-Logout li {
	cursor: pointer;
}

/*登入注册*/
.login-register {
	list-style: none;
	cursor: pointer;
}

.container-fixed {
	padding: 0;
    margin: 0 auto;
}

@media (min-width: 770px) {
	.container-fixed {
		width: auto;
	}
}



@media (min-width: 1200px) {
	.container-fixed {
		width: 1200px;
	}

}

@media (min-width: 992px) and (max-width: 1199px) {
	.container-fixed {
		width: 992px;
	}
}

/*中小屏幕显示*/
@media (min-width: 770px) and ( max-width: 1200px) {
    .col-xs-6 {
        width: auto;
    }

    .header-list-right {
        float: right;
		width: 68%;
    }

	.header-list-left {
		padding: 0;
		width: 32%;
	}

	.container {
		margin-left: 0;
	}

	.header-list-right li a,
	.drop-more {
		padding: 0 5px 0 5px;
	}

}

/*手机宽度显示*/
@media screen and (max-width: 863px){
    .top-red {
        height: 60px;
    }
    #page-content-wrapper {
        display: block;
    }
	
	.menu-container{
		margin-top: 60px;
	}
    .header-list {
        display: none;
    }

    .top-low-width {
        display: block;
    }
    
    .radio-pointer {
    	width: auto;
    	cursor: pointer;
    }

}




/*侧边栏容器*/
.sidebar-container{
	width: 28%;
	float: left;
	height: 70%;
	padding: 0;
	height: 510px;
}

/*侧边栏內容*/
.sidebar-content{
	padding-left: 70px;
	
	/*控制显示和隐藏侧边栏*/
	/*display: none;*/
}

/*侧边栏內容ul*/
.sidebar-content-ul{
	list-style: none;
	background-color: #fff;
	margin: 0;
}

/*侧边栏內容li*/
.sidebar-content-li{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 15px;
	
}


/*侧边栏內容a*/
.sidebar-content-li a{
	display: block;
	color: #3397D3;
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*侧边栏內容li*/
.sidebar-content-li a:hover{
	text-decoration: none;
}

/*第一个默认选中的*/
.sidebar-content-li .sidebar-content-hd{
	color: #000;
}


/*侧边栏內容li*/
.sidebar-content-li img{
	margin-right: 20px;
	width: 20px;
	height: 20px;
} 
/*new*/
.new-logo{
	margin-left: 10px;
	background-color: #34BCAB;
}

/*二维码容器*/
#QR-code-box{
	width: 100%;
	position: absolute;
	padding-left: 70px; 
	bottom: 10px;
	z-index: 1;
}

#QR-code-box p{
	color: #EE5544;
	font-size: 22px;
}


#QR-code-phone{
	display: none;
}



/* 小屏幕（平板，大于等于 770px） */
@media (max-width: 770px) { 
	/*侧边栏容器*/
	.sidebar-container{
		width: 100%;
		height: 151px;
		border-bottom: 1px solid #E0E0E0 ;
	}
	
	/*侧边栏內容*/
	.sidebar-content{
		width: 100%;
		height: 150px;
		
		/*控制显示和隐藏侧边栏*/
		/*display: none;*/
	}
	
	/*侧边栏內容ul*/
	.sidebar-content-ul{
		width: 100%;
		height: 150px;
		border: none;
	}
	
	/*控制侧边栏的左边距*/
	.sidebar-content{
		padding-left: 18px;
	}

    /*左侧样式*/
    #small-bulContent {
        display: block !important;
        height: 28px;
        margin-top: 160px;
        overflow-y: hidden;
    }

    /*右侧样式*/
    #small-centerContent {
        display: block !important;
    }

    .small-bultitle {
        width: 100%;
    }

    .small-announcement-bd,
    .small-centerContent-bd {
        text-align: center;
    }

    .small-bultitle ul li,
    .small-caltitle ul li {
        list-style: none;
    }

	.small-caltitle {
		margin: 10px auto;
		text-align: center;
	}
	
	/*二维码容器*/
	#QR-code-box{
		display: none;
	}
	
	/*二维码手机容器*/
	#QR-code-phone{
		border-top: 1px solid #ECF0F2;;
		display: block;
		padding: 18px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		

	}
}