<include file="Template/home/header.html" />

<CSS href="__PUBLIC__/home/css/Announcement.min.css" />
<body>
<!-- 顶部 -->
<include file="Template/home/top.html" />

<!-- 选项卡 -->
<include file="Template/home/nav.html" />
<div class="Announcement-head" style="background-image: url(__PUBLIC__/images/one.png);">
	<!--文字-->
	<div class="Announcement-head-p">
		<p>資訊公開報告</p>
	</div>
	
</div>
<div style="width: 100%;display: flex;justify-content: center;align-items: center;">
    <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 total-container" style="max-width: 1200px;padding: 0; margin: 0 auto; margin-top: 0px;position: relative;overflow: hidden;" >
        <block name="content">
        	<!--公告容器-->
            <div class="Announcement-container">
            	<p><b>資訊公開報告</b></p>
            	<br />
            	<p>透過以下資料，我們得以讓使用者暸解法律與相關政策如何影響 MaiCoin 使用者及其相關的權利責任與義務。</p>
            	<br />
            	<p><b>MaiCoin使用者相關資訊調閱要求</b></p>
            	<br />
            	<p>由於比特幣屬於價值可轉移之數位資產，如同其他金融科技業者一樣，MaiCoin 也經常接獲政府單位或調查單位的使用者資料調閱要求，當相關單位來信要求調閱使用者資訊時， 我們會在確定相關要求符合營運地區法律要求並在保護使用者立場下，提供相關資料給與資料要求單位。由於使用比特幣的人數逐年增加，也越來越多使用者願意嘗試數位資產，因此我們接獲 的使用者資料調閱要求也越來越多。</p>
            	<br />
            	<p>2016年使用者相關資訊調閱請求：</p>
            	<br />
            	<ul>
            		<li>- 政府部門因案件需要所查閱之比特幣地址用戶資料：20筆</li>
            		<li>- 政府部門因案件需要所查閱之銀行虛擬帳戶用戶資料：28筆</li>
            		<li>- 政府部門因案件需要所查閱之個人用戶資料：3筆</li>
            	</ul>
            	<br />
            	<p>2017年使用者相關資訊調閱請求：</p>
            	<br />
            	<ul>
            		<li>- 政府部門因案件需要所查閱之比特幣地址用戶資料：13筆</li>
            		<li>- 政府部門因案件需要所查閱之銀行虛擬帳戶用戶資料：2筆</li>
            		<li>- 被限制不可揭露內容之查閱紀錄：1筆</li>
            	</ul>
            	<br />
            	<p>「用戶資料」一詞可能包含（但不限於）用戶姓名、電話、註冊之身分證資料（含影本）、帳戶餘額、登入IP、交易資料、匯款帳戶、相關聯用戶等，視政府部門公文內容與授權索取範圍而定。</p>
            	<br />
            	<p>更新時間：2017/2/17</p>
            	<hr />
            	<p>若您對上述資訊公開報告有任何疑問或意見，請洽詢本公司：<a href="javascript:;" class="Announcement-a">info@maicoin.com</a></p>
            </div>
        </block>
    </section>
</div>

<footer>
    <include file="Template/home/footer.html" />
</footer>
</body>
