<include file="Template/admin/header.html" />

<css href="__CSS__/bootstrap.min.css" />

<style>
    .navbar {margin-bottom: 0; line-height: 50px; padding: 0 10px;}
    .navbar>input {width: 20%; display: inline;}
    .navbar>button {height: 34px; transform: translateY(-2px);}
    .layui-elem-quote {font-size: 15px;}
    .layui-form-label {padding: 9px 10px;}
</style>
<body>
    <div class="x-body">
        <blockquote class="layui-elem-quote">银行列表</blockquote>
        <nav class="navbar navbar-default">
            <input type="text" id="bank_name" class="form-control" placeholder="请输出银行名称" />
            <button typr="button" class="btn btn-default" id="searchBtn">搜索</button>
        </nav>
        <table id="BankList" lay-filter="BankList"></table>
    </div>
</body>

<script>
    var nonce_str = nonceStr(32);//随机32个随机数
    layui.use('table', function () {

        var table = layui.table;
        var tableReload = table.render({
            elem: "#BankList",
            url: "<{:U('getBank')}>",
            page: true,
            cols: [[
                 {field: 'bank_name', title: '银行名称', align: 'center', width: 140,fixed: 'left'}
                ,{field: 'bank_type_name', title: '银行类型', sort: true, align: 'center', width: 100}
                ,{field: 'bank_parent_name', title: '所属银行', align: 'center', width: 100}
                ,{field: 'create_time', title: '创建时间', width: 120, align: 'center'}
                ,{title: '操作', width: 150, align: 'center', toolbar: '#operation'}
            ]],
            done: function (res) {
            }

        });
        // 监听工具栏的事件
        table.on('tool(BankList)', function (obj) {
            var data = obj.data;    // 获取当前数据
            var layEvent = obj.event;   // 获得 lay-event 对应的值
            var tr = obj.tr;    // 获得当前 tr 的 dom 对象

            //删除
            if(layEvent == "detele"){
                layer.open({
                     title: "提示",
                     content: '确认删除当前记录！',
                     btn: ["确认", "取消"],
                     yes: function (res){
                         layer.closeAll();
                         delRecord(data.bank_id);
                     }
                });
            }

            // 删除
            function delRecord(id) {
               
                var data = {
                    bank_id : id,
                    nonce_str : nonce_str,
                    sign: hex_md5("__VERIFY_STR__" + id + nonce_str)
                };

                var url = "<{:U(delete)}>";

                layer.load(2);
                $.ajax({
                    url : url,
                    data, data,
                    type: 'post',
                    success: function(res) {
                        layer.closeAll();
                        if(parseInt(res.code) == 0) {
                            layer.msg("删除成功!" , {icon: 1} , function(){
                                // 刷新
                                location.reload() || window.location.reload();
                            });
                        }else{
                            layer.msg("删除失败!" , {icon: 1} , function(){
                                // 刷新
                                location.reload() || window.location.reload();
                            });
                        }
                    }
                });
            }

        });


        // 搜索
        function search() {

            var url = "<{:U(getBank)}>";
            var data = {
                bank_name: $('#bank_name').val()
            };

            layer.load(1);
            tableReload.reload({
                url: url,
                where: data,
                page: {
                    curr: 1
                },
                done: function (){
                    layer.closeAll();
                }
            });
        }

        // 搜索按钮
        $("#searchBtn").click(function () {
            search();
        });

    });

</script>


<script type="text/html" id="operation" >
    <a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="detele">删除</a>    
</script>
