<!-- 底部开始 -->
<block name="footer">	
    <footer>
    	<!--二维码-->
		<div id="QR-code-phone">
			<p style="font-size: 16px;color: #EE5544;"><{$Think.lang.__QRCODE_TIPS_1__}></p>
			<p style="font-size: 16px;color: #EE5544;"><{$Think.lang.__QRCODE_TIPS_2__}></p>
			<!--<p style="font-size: 16px;color: #EE5544;"><{$Think.lang.__QRCODE_TIPS_3__}></p>-->
			<div id="QR-code" style="width: 200px;height: 200px;border: 5px solid #3388bb;">
				<img src="__PUBLIC__/images/QR-code.png" width="100%" height="100%"/>
			</div>
		</div>
    	
    	<div class="footer-main">
    		<div class="col-lg-2 col-sm-2">	</div>
    		<div class="ft col-lg-8 col-sm-8 ">
    			<!-- <a href="#"><{$Think.lang._CAREERS_}></a><span>|</span> -->
    			<a href="__HOST_PATH__/Home/PDF/index/type/termsOfUse">
                    <{$Think.lang._LOGIN_TERMS_FOR_USAGE_}>
                </a><span>|</span>
    			<a href="__HOST_PATH__/Home/PDF/index/type/privacy">
                    <{$Think.lang._LOGIN_PRIVACY_POLICY_}>
                </a><span>|</span>
    			<a href="__HOST_PATH__/Home/Question">
                    <{$Think.lang._FAQ_}></a><span>|</span>
    			<!-- <a href="#">
                    <{$Think.lang._LOGIN_TRANSPARENCY_REPORT_}>
                </a><span>|</span> -->
    			<a href="__HOST_PATH__/Home/ContactUs">
                    <{$Think.lang._CONTACT_US_}>
                </a>
    			<div class="footer-logo">
    			<a href=""><img src="__PUBLIC__/images/footerlogo.png"/></a>
    		</div>
    		</div>
    	</div>
    </footer>

</block>
<!-- 底部结束