<!-- 底部开始 -->
<block name="footer">	
    <footer>
    	<div class="footer-main">
    		<div class="col-lg-2 col-sm-2">	</div>
    		<div class="ft col-lg-8 col-sm-8 ">
    			<a href="__HOST_PATH__/Home/PDF/index/type/termsOfUse">
                    <{$Think.lang._LOGIN_TERMS_FOR_USAGE_}>
                </a><span>|</span>
    			<a href="__HOST_PATH__/Home/PDF/index/type/privacy">
                    <{$Think.lang._LOGIN_PRIVACY_POLICY_}>
                </a><span>|</span>
    			<a href="__HOST_PATH__/Home/Question">
                    <{$Think.lang._FAQ_}></a><span>|</span>
    			<a href="__HOST_PATH__/Home/ContactUs">
                    <{$Think.lang._CONTACT_US_}>
                </a>
    			<div class="footer-logo">
    			<a href=""><img src="__PUBLIC__/images/footerlogo.png"/></a>
    		</div>
    		</div>
    	</div>
    </footer>
</block>
<!-- 底部结束