<extend name="Template/home/base.html" />
<!-- 内容 -->
<block name="content">
	<CSS href="__PUBLIC__/home/css/buy.min.css" />
	<style>
		.buy-tab div { line-height: 40px; text-align: center; }
	</style>
	<!--购买-->
	<!-- 購買容器 -->
	<div class="content-buy col-lg-8 col-md-8 col-sm-8 col-xs-12">
		<!--选项卡容器-->
		<div class="buy-tab">
			<!--选项卡1-->
			<div class="tab1" onclick="getBalance(1)">
				<a href="javascript:;" class="buy-BTC" id="buy-BTC"><{$Think.lang._ACCOUNT_BUY_BTC_}></a>
			</div>
			<!--选项卡2-->
			<div class="tab2" onclick='getBalance(2)'>
				<a href="javascript:;" class="buy-ETC" id="buy-ETC"><{$Think.lang._ACCOUNT_BUY_ETH_}></a>
			</div>
		</div>
		
		<!--选项卡1内容-->
		<div class="buystate-1">
			<div>
				<div class="detail">
					<span class="point">•</span>
					<{$Think.lang._ACCOUNT_BUY_BTC_PRICE_}>
					<span class="buy-price"><span id="buy-btc-price"></span></span>
					<br />
					<span class="sell-available"><{$Think.lang._ACCOUNT_BUY_BTC_BALANCE_}><b><span id="buy-btc-balance"></span> BTC</b></span>
					<br />
					<span class="cashBalance"><{$Think.lang._HINT_EXTRACT_ENOUGH_}>:<b> NT$ <span class="cashBalance1"></span></b></span>
				</div>

				<!--转换按钮-->
				<div class="buy-area">
					<div class="form-group-buy">
						<label class="form-label"><{$Think.lang._ACCOUNT_BUY_BTC_}></label>
						<input id="widget-coin-field" class="form-field widget-coin-field form-control" type="text" autocomplete="off" placeholder="0.00" onkeyup="clearNoNum(this);">
						<span class="currency-pill-inner">BTC</span>
					</div>
					<img class="arrows-buy" src="__PUBLIC__/images/left-right.png"/>
					<div class="form-group-buy">
						<label class="form-label"><{$Think.lang._ACCOUNT_BUY_BTC_TWD_}></label>
						<input id="widget-coin-twd" class="form-field widget-coin-field form-control" type="text" autocomplete="off" placeholder="0.00" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
						<span class="currency-pill-inner changeCoin">TWD</span>
					</div>

					<!--警告框-->
					<span class="tip-below" style="display:none"><{$Think.lang._ACCOUNT_SEND_LIMIT_}></span>
					<span class="tip-below" style="display:none;"><{$Think.lang._ACCOUNT_SEND_MAX_}></span>

					<div class="radio-form">
						<div>
							<span class="choose-method"><{$Think.lang._ACCOUNT_BUY_BTC_PAYMENT_}></span>
						</div>
						<div class="dash-radio"></div>

						<div class="radio-row">
							<div class="radio">
								<input type="radio" name="payment-type" id="payment-type" value="<{$Think.lang._ACCOUNT_BUY_BTC_BANK_}>" disabled="disabled" onclick="BtcNotNull();"/>
							</div>
							<div class="radio-name radio-disabled">
								<label for="payment-type">
									<b><{$Think.lang._ACCOUNT_BUY_BTC_BANK_}></b>
								</label>
							</div>
							<div class="radio-description radio-disabled">
								<label for="payment-type" style="font-weight: normal;">
									<{$Think.lang._ACCOUNT_BUY_BTC_BANK_TIPS_}><a href="__HOST_PATH__/Home/Setting/index"><{$Think.lang._ACCOUNT_BUY_BTC_ID_VER_}></a>)
								</label>
							</div>
						</div>
						<div class="dash-radio"></div>

						<div class="radio-row">
							<div class="radio">
								<input type="radio" name="payment-type" id="payment-type-pay" value="<{$Think.lang._ACCOUNT_BUY_BTC_STORE_}>" disabled="disabled" onclick="BtcNotNull();"/>
							</div>
							<div class="radio-name radio-disabled">
								<label for="payment-type-pay">
									<b><{$Think.lang._ACCOUNT_BUY_BTC_STORE_}></b>
								</label>
							</div>
							<div class="radio-description radio-disabled">
								<label for="payment-type-pay" style="font-weight: normal;">
									<{$Think.lang._ACCOUNT_BUY_BTC_STORE_TIPS_}>
								</label>
							</div>
						</div>
						<div class="dash-radio"></div>

						<!--购买比特币按钮-->
						<button type="button" name="commit" id="submit-buy-form" class="btn btn-primary disabled" disabled="disabled"><{$Think.lang._ACCOUNT_BUY_BTC_}></button>

						<div class="buy-button-info">
							<{$Think.lang._ACCOUNT_BUY_BTC_BUY_INFO_TOP_}>
							<a href="__HOST_PATH__/Home/Setting/index"><{$Think.lang._ACCOUNT_BUY_BTC_BASIC_INFO_}></a>
							<{$Think.lang._ACCOUNT_BUY_BTC_BUY_INFO_DOWN_}>
						</div>
						<div class="order-notices">
							<small class="highlight"><{$Think.lang._ACCOUNT_BUY_BTC_ORDER_TIPS_}></small>
							<small><{$Think.lang._ACCOUNT_BUY_BTC_MAX_}>NT$5,000,000</small>
							<small><{$Think.lang._ACCOUNT_BUY_BTC_LAST_TIPS_}></small>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!--选项卡2内容-->
		<div class="buystate-2" style="display: none;">
			<div>
				<div class="detail">
					<span class="point">•</span>
					<{$Think.lang._ACCOUNT_BUY_BTC_PRICE_}>
					<span class="buy-price"><span id="buy-eth-price"></span></span>
					<br />
					<span class="sell-available"><{$Think.lang._ACCOUNT_BUY_BTC_BALANCE_}><b><span id="buy-eth-balance"></span> LTC</b></span>
					<br />
					<span class="cashBalance"><{$Think.lang._HINT_EXTRACT_ENOUGH_}>:<b>NT$ <span class="cashBalance1"></span></b></span>
				</div>

				<!--转换按钮-->
				<div class="buy-area ">
					<div class="form-group-buy">
						<label class="form-label"><{$Think.lang._ACCOUNT_BUY_ETH_}></label>
						<input id="widget-coin-field-ETH" class="form-field widget-coin-field form-control" type="text" autocomplete="off" placeholder="0.00" onkeyup="clearNoNum(this);">
						<span class="currency-pill-inner">LTC</span>
					</div>

					<img class="arrows-buy" src="__PUBLIC__/images/left-right.png"/>
					<div class="form-group-buy">
						<label class="form-label"><{$Think.lang._ACCOUNT_BUY_BTC_TWD_}></label>
						<input id="widget-coin-twd-ETH" class="form-field widget-coin-field form-control" type="text" autocomplete="off" placeholder="0.00" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
						<span class="currency-pill-inner changeCoin">TWD</span>
					</div>

					<!--警告框-->
					<span class="tip-below" style="display:none"><{$Think.lang._ACCOUNT_SEND_LIMIT_}></span>
					<span class="tip-below" style="display:none;"><{$Think.lang._ACCOUNT_SEND_MAX_}></span>

					<div class="radio-form">
						<div>
							<span class="choose-method"><{$Think.lang._ACCOUNT_BUY_BTC_PAYMENT_}></span>
						</div>
						<div class="dash-radio"></div>

						<div class="radio-row">
							<div class="radio">
								<input type="radio" name="payment-type-ETH" id="payment-type-ETH" value="<{$Think.lang._ACCOUNT_BUY_BTC_BANK_}>" disabled="disabled" onclick="EthNotNull();"/>
							</div>
							<div class="radio-name radio-disabled">
								<label for="payment-type">
									<b><{$Think.lang._ACCOUNT_BUY_BTC_BANK_}></b>
								</label>
							</div>
							<div class="radio-description radio-disabled">
								<label for="payment-type" style="font-weight: normal;">
									<{$Think.lang._ACCOUNT_BUY_BTC_BANK_TIPS_}><a href="__HOST_PATH__/Home/Setting/index"><{$Think.lang._ACCOUNT_BUY_BTC_ID_VER_}></a>)
								</label>
							</div>
						</div>
						<div class="dash-radio"></div>

						<div class="radio-row">
							<div class="radio">
								<input type="radio" name="payment-type-ETH" id="payment-type-pay-ETH" value="<{$Think.lang._ACCOUNT_BUY_BTC_STORE_}>" disabled="disabled" onclick="EthNotNull();"/>
							</div>
							<div class="radio-name radio-disabled">
								<label for="payment-type-pay">
									<b><{$Think.lang._ACCOUNT_BUY_BTC_STORE_}></b>
								</label>
							</div>
							<div class="radio-description radio-disabled">
								<label for="payment-type-pay" style="font-weight: normal;">
									<{$Think.lang._ACCOUNT_BUY_BTC_STORE_TIPS_}>
								</label>
							</div>
						</div>
						<div class="dash-radio"></div>

						<!--购买以太币按钮-->
						<button type="button" name="commit" id="submit-buy-form-ETH" class="btn disabled" disabled="disabled"><{$Think.lang._ACCOUNT_BUY_ETH_}></button>

						<div class="buy-button-info">
							<{$Think.lang._ACCOUNT_BUY_BTC_BUY_INFO_TOP_}>
							<a href="__HOST_PATH__/Home/Setting/index"><{$Think.lang._ACCOUNT_BUY_BTC_BASIC_INFO_}></a>
							<{$Think.lang._ACCOUNT_BUY_BTC_BUY_INFO_DOWN_}>
						</div>
						<div class="order-notices">
							<small class="highlight"><{$Think.lang._ACCOUNT_BUY_BTC_ORDER_TIPS_}></small>
							<small><{$Think.lang._ACCOUNT_BUY_BTC_MAX_}>NT$5,000,000</small>
							<small><{$Think.lang._ACCOUNT_BUY_BTC_LAST_TIPS_}></small>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		var BtcUnitPrice; //比特币单价
		var EthUnitPrice; //以太币单价
		var BtcUnitbalance; //比特币余额
		var EthUnitbalance; //以太币余额
		var cashBalance1; //现金余额
		var BTCPrice;
		var ETHPrice;
		var btc_number; //数量
		var btc_price; //总价格
		var eth_number; //数量
		var eth_price; //总价格

		// 判断BTC文本框和单选按钮不为空
		var BtcNotNull = function(){
			var BTCtextLeft = $("#widget-coin-field").val();
			var BTCtextRight = $("#widget-coin-twd").val();
			var BTCradioStatus = $('input:radio[name="payment-type"]:checked').val();
			
			if(BTCtextLeft != "" && BTCtextRight != "" && BTCradioStatus != undefined){
				$("#submit-buy-form")
				.removeAttr('disabled')
				.removeClass('disabled')
				.css({
					background: "#5AC",
					boxShadow: "inset 0 -3px 0 #18A",
					color: "#fff",
					borderRadius: "5px",
					textAlign: "center",
					marginTop:"20px"
				})
				.hover(function(){
					$("#submit-buy-form").css("background","#4499BB");
				},function(){
					$("#submit-buy-form").css("background","#5AC");
				});
			}
		}
		
		// 判断ETH文本框和单选按钮不为空
		var EthNotNull = function(){
			var ETHtextLeft = $("#widget-coin-field-ETH").val();
			var ETHtextRight = $("#widget-coin-twd-ETH").val();
			var ETHradioStatus = $('input:radio[name="payment-type-ETH"]:checked').val();
			
			if(ETHtextLeft != "" && ETHtextRight != "" && ETHradioStatus != undefined){
				$("#submit-buy-form-ETH")
				.removeAttr('disabled')
				.removeClass('disabled')
				.css({
					background: "#5AC",
					boxShadow: "inset 0 -3px 0 #18A",
					color: "#fff",
					borderRadius: "5px",
					textAlign: "center",
					marginTop:"20px"
				})
				.hover(function(){
					$("#submit-buy-form-ETH").css("background","#4499BB");
				},function(){
					$("#submit-buy-form-ETH").css("background","#5AC");
				});
			}
		}
		
		/**
		 * 获取实际价格
		 * @return {[type]} [description]
		 */
		var getValue = function() {
			// 2s
			let btc_btc_value = $.cookie('btc_btc_value'),
				btc_eth_value = $.cookie('btc_eth_value'),
				realtimeIndex = $.cookie('btc_float_value') // 缓存的币种
			let type = 'TWD', currency = 'NT$ '
			if (realtimeIndex == 2) { 
				type = 'HKD'
				currency = 'HKD$ '
			}
			if (realtimeIndex == 3) {
				type = 'USD'
				currency = 'USD$ '
			}

			$('.changeCoin').text(type);
			BtcUnitPrice = parseFloat(btc_btc_value).toFixed(4)
			EthUnitPrice = parseFloat(btc_eth_value).toFixed(4)
			BTCPrice = BtcUnitPrice
			ETHPrice = EthUnitPrice
			
			$('#buy-btc-price').html(currency + BtcUnitPrice);
			$('#buy-eth-price').html(currency + EthUnitPrice);

			let twd = parseFloat($('#widget-coin-field').val()) * BtcUnitPrice
			let twdother = parseFloat($('#widget-coin-field-ETH').val()) * EthUnitPrice
			// 比特币,输入框
			sg.isEmpty($('#widget-coin-field').val())
				? ''
				: $('#widget-coin-twd').val(parseFloat(twd).toFixed(2))

			// 莱特币,输入框
			sg.isEmpty($('#widget-coin-field-ETH').val())
				? ''
				: $('#widget-coin-twd-ETH').val(parseFloat(twdother).toFixed(2))
		}
		
		/**
		 * 清除多余
		 * @param  {[type]} obj [description]
		 */
		var clearNoNum = function(obj){
			obj.value = obj.value.replace(/^\./g,"");  //不能以点开头
			obj.value = obj.value.replace(/[^\d.]/g,"");  //清除“数字”和“.”以外的字符  
			obj.value = obj.value.replace(/\.{2,}/g,"."); //只保留第一个. 清除多余的  
			obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$","."); 
			obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d\d\d).*$/,'$1$2.$3');//只能输入4个小数  
			if(obj.value.indexOf(".")< 0 && obj.value !=""){//以上已经过滤，此处控制的是如果没有小数点，首位不能为类似于 01、02的金额 
				obj.value= parseFloat(obj.value); 
			} 
		}

		/**
		 * 定义方法发送数据
		 * @param  {[type]} data     [description]
		 * @param  {[type]} callbcak [description]
		 */
		var buyVirtualCurrency = function(data, callback) {
			var url = '__HOST_PATH__/Home/Buy/buyCoin'
			var btype = parseInt($.cookie('btc_float_value')) // 币种类型 1-台币 2-港币 3-美金
			data.money_currency_type = 1 // 全部把币种转为新台币

			sg.exchange(function(res) {
				// 转为新台币
				let hkd = parseFloat(res.hkd),
					twd = parseFloat(res.twd),
					usd = parseFloat(res.usd),
					ftmp = 0 	// 临时

				if (btype == 1) ftmp = twd 
				if (btype == 2) ftmp = hkd
				if (btype == 3) ftmp = usd
				data.unit_price = parseFloat(data.unit_price)*twd/ftmp
				data.price = (parseFloat(data.price)*twd/ftmp).toFixed(4)

				// 判断余额不足
				if (data.price > parseFloat(cashBalance1)) {
					alert('<{$Think.lang._ACCOUNT_SELL_BALANCE_}> NT$:'+data.price)
					callback({code: -1000})
					return false
				}

				data.sign = hex_md5("__VERIFY_STR__" + data.currency_type + data.money_currency_type + data.nonce_str + data.number + data.payment_type + data.price + data.unit_price)
				$.post(url, data, function(res) {
					callback(res)
				})
			})
		}

		/**
		 * 监听变化, 禁用
		 * @param  {[type]} element [description]
		 */
		var lienttype = function(element) {
			element.attr('disabled',true);
			element.css({
				background: "#ddd",
				boxShadow: "inset 0 -3px 0 #AAA",
				color: "#fff",
				borderRadius: "5px",
				textAlign: "center",
				marginTop:"20px"
			})
			.hover(function(){
				element.css("background","#ddd");
			},function(){
				element.css("background","#ddd");
			});
		}

		/**
		 * 获取get请求后面得参数
		 */
		var GetRequest = function() {//获取get请求后面的参数
			var url = location.search; //获取url中"?"符后的字串
			var theRequest = new Object();
			if (url.indexOf("?") != -1) {
				var str = url.substr(1);
				strs = str.split("&");
				for(var i = 0; i < strs.length; i ++) {
					theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);
				}
			}
			return theRequest;
		}

		/**
		 * 获取余额
		 * @param  {[type]} id [description]
		 */
		var getBalance = function(id) {
			var url_Buy = '__HOST_PATH__/Home/Buy/getBalance'
			var data_Buy = { currency_type: id }    

			$.post(url_Buy, data_Buy, function(res) {
				if(parseInt(res.code) == 0) {
					if (id == 1){
						$('#buy-btc-balance').html(res.data[0].btc_balance);//BTC余额
						BtcUnitbalance = res.data[0].btc_balance; //比特币余额
					} else if (id == 2) {
						$('#buy-eth-balance').html(res.data[0].eth_balance);//ETH余额
						EthUnitbalance = res.data[0].eth_balance; //比特币余额
					}

					$('.cashBalance1').html(res.data[1].extract_balance);//BTC余额
					cashBalance1 = res.data[1].extract_balance;
				}
			})
		}

		/**
		 * 身份验证
		 * @return {[type]} [description]
		 */
		var authentication = function() {
			var url_authentication = '__HOST_PATH__/Home/Buy/check';
			$.get(url_authentication, function(res) {
				if(res.code == "拥有购买权限！") {
					//开启单选按钮
					$("#payment-type").removeAttr('disabled');
					$("#payment-type-pay").removeAttr('disabled');
					$("#payment-type-ETH").removeAttr('disabled');
					$("#payment-type-pay-ETH").removeAttr('disabled');
					$(".radio-disabled").css("color","#000");
				}
			})
		}

		// 调用
		getBalance(1);      // 获取单价和余额
		authentication();   // 检查身份是否验证
		// 2s获取一次数据---------------------------------------------------------------
		setInterval(function() { getValue() }, 2000);

		// 控制一级菜单的点击事件
		$(".nav-a").css("color","#3388BB");
		$(".nav-span").css("color","#3388BB");
		$(".nav-a").css("border-bottom","2px solid #fff");
		$(".nav-a").eq(4).css("color","#000");
		$(".nav-span").eq(3).css("color","#000");
		$(".nav-span").eq(4).next().css("color","#000");
		$(".nav-a").eq(4).css("border-bottom","2px solid #3388BB");
		$(".text-content").html("<{$Think.lang._ACCOUNT_BUY_}>&nbsp");

		//点击比特币
		$(".buy-BTC").click(function(){
			$(this).css({ textDecoration:"none", color:"#000" });
			$(".tab1").css({ backgroundColor:"#fff", borderBottom:"1px solid #fff" });
			$(".tab2").css({ backgroundColor:"#F0EFEE", borderBottom:"1px solid #ddd" });
			$(this).mouseover(function(){ $(this).css("color","#000") });
			//点击切换比特币以太币
			$('.buystate-1').css({'display':'block'});
			$('.buystate-2').css({'display':'none'});
		});
		//点击以太币
		$(".buy-ETC").click(function(){
			$(this).css({ textDecoration:"none", color:"#000" });
			$(".tab2").css({ backgroundColor:"#fff", borderBottom:"1px solid #fff" });
			$(".tab1").css({ backgroundColor:"#F0EFEE", borderBottom:"1px solid #ddd" });
			$(this).mouseover(function(){ $(this).css("color","#000"); });
			//点击切换比特币以太币
			$('.buystate-1').css({'display':'none'});
			$('.buystate-2').css({'display':'block'});
		});

		if(GetRequest().type == 2) {
			$(".buy-ETC").css({ textDecoration:"none", color:"#000" });
			$(".tab2").css({ backgroundColor:"#fff", borderBottom:"1px solid #fff" });
			$(".tab1").css({ backgroundColor:"#F0EFEE", borderBottom:"1px solid #ddd" });
			$(".buy-ETC").mouseover(function(){ $(".buy-ETC").css("color","#000"); });
			//点击切换比特币以太币
			$('.buystate-1').css({'display':'none'});
			$('.buystate-2').css({'display':'block'});
			authentication();
			getBalance(2);
		}

		//比特币左输入框
		$("#widget-coin-field").keyup (function(){
			btc_number = $("#widget-coin-field").val();
			btc_price = btc_number*BtcUnitPrice;
			$("#widget-coin-twd").val(btc_price.toFixed(2));
			BtcNotNull();
			if($("#widget-coin-field").val() == ""){
				$("#widget-coin-twd").val("")
				lienttype($("#submit-buy-form"))
			}
		});
		//比特币右输入框
		$("#widget-coin-twd").keyup (function(){
			btc_price = $("#widget-coin-twd").val();
			btc_number = btc_price/BtcUnitPrice;
			$("#widget-coin-field").val(btc_number.toFixed(4));
			
			BtcNotNull();
			if($("#widget-coin-twd").val() == ""){
				$("#widget-coin-field").val("")
				lienttype($("#submit-buy-form"))
			}
		});
		
		//以太币左输入框
		$("#widget-coin-field-ETH").keyup (function(){
			eth_number = $("#widget-coin-field-ETH").val();
			eth_price = eth_number*EthUnitPrice;
			$("#widget-coin-twd-ETH").val(eth_price.toFixed(2));

			EthNotNull();
			if($("#widget-coin-field-ETH").val() == ""){
				$("#widget-coin-twd-ETH").val("")
				lienttype($("#submit-buy-form-ETH"))
			}
		});
		//以太币右输入框
		$("#widget-coin-twd-ETH").keyup (function(){
			eth_price = $("#widget-coin-twd-ETH").val();
			eth_number = eth_price/EthUnitPrice;
			$("#widget-coin-field-ETH").val(eth_number.toFixed(4));

			EthNotNull();
			if($("#widget-coin-twd-ETH").val() == ""){
				$("#widget-coin-field-ETH").val("")
				lienttype($("#submit-buy-form-ETH"))
			}
		});
		
		// 购买比特币按钮
		$("#submit-buy-form").click(function() {
			var btnName = $(this).html();
			var number = $("#widget-coin-field").val();
			var data = {
				number: number,  // 幣種數量
				price: number * parseFloat(BTCPrice),   // 總價
				money_currency_type: 1,     // 货币类型
				unit_price: parseFloat(BTCPrice),       // 單價
				currency_type: 1,           // 币种类型
				nonce_str: nonceStr(32)
			};
			
			// 輸入有誤
			if (data.number <= 0 || data.price <= 0) {
				alert("<{$Think.lang._HINT_BTC_BALANCE_NOT_}>");
				$("#widget-coin-field").val("");
				if($("#widget-coin-field").val() == ""){
					$("#widget-coin-twd").val("")
					lienttype($("#submit-buy-form"))
				}
				return false
			}

			// 判断支付方式
			if($('input[name="payment-type"]:checked ').val() == "<{$Think.lang._ACCOUNT_BUY_BTC_BANK_}>") {
				// 银行卡模式
				data.payment_type = 1;
			} else if($('input[name="payment-type"]:checked ').val() == "<{$Think.lang._ACCOUNT_BUY_BTC_STORE_}>") {
				// 余额模式
				data.payment_type = 2;
			}

			sg.loading($("#submit-buy-form"));
			buyVirtualCurrency(data, function(res){
				sg.hideLoading($('#submit-buy-form'), btnName);
				if(res.code == 0){
					alert("<{$Think.lang._HINT_BTC_BUY_OK_}>");
					window.location.href = "__HOST_PATH__/Home/DealDetails/index";
				} else if(res.code == -1) {
					// 会失败
					alert("<{$Think.lang._HINT_SUBMIT_FAILED_}>");
				}
			});
		})
		
		//购买以太币按钮
		$("#submit-buy-form-ETH").click(function(){			
			var btnName = $(this).html();
			var number  = $("#widget-coin-field-ETH").val();
			var data = {
				number: number,  // 幣種數量
				price: number * parseFloat(ETHPrice),   // 總價
				money_currency_type: 1,     // 货币类型
				unit_price: parseFloat(ETHPrice),       // 單價
				currency_type: 2,           // 币种类型
				nonce_str: nonceStr(32)
			};

			// 輸入有誤
			if (data.number <= 0 || data.price <= 0) {
				alert("<{$Think.lang._HINT_ETH_BALANCE_NOT_}>");
				$("#widget-coin-field-ETH").val("");
				if($("#widget-coin-field-ETH").val() == ""){
					$("#widget-coin-twd-ETH").val("")
					lienttype($("#submit-buy-form-ETH"))
				}
				return false
			}

			// 判断支付方式
			if($('input[name="payment-type-ETH"]:checked ').val() == "<{$Think.lang._ACCOUNT_BUY_BTC_BANK_}>") {
				// 银行卡模式
				data.payment_type = 1;
			} else if($('input[name="payment-type-ETH"]:checked ').val() == "<{$Think.lang._ACCOUNT_BUY_BTC_STORE_}>") {
				// 余额模式
				data.payment_type = 2;
			}

			sg.loading($("#submit-buy-form-ETH"))
			buyVirtualCurrency(data, function(res){
				sg.hideLoading($('#submit-buy-form-ETH'), btnName);
				if(res.code == 0){
					alert("<{$Think.lang._HINT_BTC_BUY_OK_}>");
					window.location.href = "__HOST_PATH__/Home/DealDetails/index?type=2";
				} else if(res.code == -1) {
					// 会失败
					alert("<{$Think.lang._HINT_SUBMIT_FAILED_}>");
				}
			});
		})
	</script>
</block>