<extend name="Template/home/base.html" />
<include file="Template/home/header.html" />
<css href="__PLUG-IN__/layui/css/layui.css" />

<!-- 内容 -->
<block name="content">
	<CSS href="__PUBLIC__/home/css/security/update.css" />
	
	<div class="content-update col-lg-8 col-md-8 col-sm-8 col-xs-12">
		<div class="update">
			<div class="get-back">
				<a href="__HOST_PATH__/Home/Security/index"> &lt; <{$Think.lang._HINT_SECURITY_SETTING_}></a>
			</div>

			<div class="Password-changes">
				<h3><{$Think.lang._ACCOUNT_SECURITY_CHANGE_PWD_}></h3>
				<br />

				<div class="password-box">
					<div class="new-password">

						<div class="form-group">
							<label class="used-label" for="InputPassword1"><{$Think.lang._HINT_OLD_PWD_}>:</label>
							<input id="current-password" class="form-control" autocomplete="off" name="user[current-password]" type="password" onkeyup="value=value">
							<span class="pas-below-wrapper ticket-used-msg pas-error " style="display: none;">
		                    	<span id="ticket-used-prompt" class="pas-below-msg" >
		                    	<{$Think.lang._HINT_WRONG_PWD_}>
							    </span>
						    </span>
						</div>
						
					</div>

					<div class="set-password">
						<div class="form-group">
							<label class="set-label" for="InputPassword1"><{$Think.lang._HINT_NEW_PWD_}>:</label>
							<input id="set-password" class="form-control" autocomplete="off" name="user[set-password]" type="password">
							<span class="pas-below-wrapper ticket-set-msg pas-error " style="display: none;">
		                    	<span id="ticket-set-prompt" class="pas-below-msg" >
		                    	<{$Think.lang._HINT_PWD_CHECK_}>
							    </span>
						    </span>
						</div>
						
					</div>

					<div class="affirm-password">
						<div class="form-group">
							<label class="affirm-label" for="InputPassword1"><{$Think.lang._HINT_NEW_PWD_CONFIRM_}>:</label>
							<input id="affirm-password" class="form-control" autocomplete="off" name="user[affirm-password]" type="password">
							<span class="pas-below-wrapper ticket-affirm-msg pas-error " style="display: none;">
		                    	<span id="ticket-affirm-prompt" class="pas-below-msg" >
		                    	<{$Think.lang._HINT_PWD_TWICE_DIFFERENT_}>
							    </span>
					        </span>
						</div>
						
					</div>

					<div class="passwoed-btns">
						<input id="updatebtn" name="commit" value="<{$Think.lang._HINT_PWD_RESET_}>" data-disable-with="傳送中…" class="btn  btn-primary btn-one" type="submit" disabled="disabled" >

					</div>
				</div>

			</div>

		</div>
	</div>
<js href="__PLUG-IN__/layui/layui.js" />

<script>

layui.use('layer', function(){
	var layer = layui.layer;
	var nonce_str 	= nonceStr(32);
	$(document).ready(function() {
		//表单验证
		$('#current-password').blur(function(){

			var current=hex_md5(config.verify_str + $('#current-password').val());
			var url = "__HOST_PATH__/Home/Security/getpass";

			$.ajax({
				url: url,
				type:'post',
				data:{
					password:current,
					nonce_str:nonce_str,
					sign: hex_md5('__VERIFY_STR__'+ nonce_str + current)
				},
				success: function (res) {
		            if(	!res.code == 0 ){

					 	$('.ticket-used-msg').show()
					 	$('.btn-one').attr("disabled","disabled");
					 	return;
					}else{
					 	$('.ticket-used-msg').hide()
					}
			    }
			});

		})

		$('#set-password').keyup(function() {
			
			var newpassword = $('#set-password').val();
			var passReg = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,16}$/;			
		
			if(newpassword == '' || !passReg.test(newpassword)) {
				$('.ticket-set-msg').show();
				$('.btn-one').attr("disabled","disabled");
				return;
			} else {
				$('.ticket-set-msg').hide();
			}
			
		})

		$('#affirm-password').keyup(function() {
		    var newpassword = $('#set-password').val();
		    var affirm = $('#affirm-password').val();
	
			if(affirm != newpassword|| affirm=='') {

            	$('.ticket-affirm-msg').show();
            	$('.btn-one').attr("disabled","disabled");
            	return;
	        }else{
	        	$('.ticket-affirm-msg').hide();
	        	$('.btn-one').attr("disabled",false);
	        }
			
		});

		$('#updatebtn').on('click', function () {

			var newpassword = hex_md5(config.verify_str + $('#set-password').val());
			var u = '__HOST_PATH__/Home/Security/Passwordupdate',
				d = {
					newpassword: newpassword,
					nonce_str: nonce_str,
					sign: hex_md5('__VERIFY_STR__' + newpassword + nonce_str)
				};

			$.ajax({
				url: u,
				data: d,
				type: 'post',
				success: function (res) {

					if(parseInt(res.code) == 0) {
                    	layer.msg('<{$Think.lang._HINT_AMEND_SUCCESS_}>', {icon: 1}, function(){
                        // 跳转
                         window.location.replace("__HOST_PATH__/Home/Security/index");
                    })
                	}else{
                    	layer.msg('<{$Think.lang._HINT_AMEND_DEFEAT_}>', {icon : 2});
                	}
				}
			});
		});
	});
});
</script>
</block>
