.content-update{
	width: 65%;
	background-color:#fff;
	float: left;
	padding: 10px 40px 150px 40px;
	border-left: 1px solid #ECF0F2;
}

/*头部h3部分*/
.Password-changes{
     margin: 35px 0 ;
}
.Password-changes h3{
	color: #999;
	font-size: 18px;
	margin: 5px 0;
}

.password-box{
	display: block;
	margin-left: 50px;
}

/*新密码*/

.used-label  {
	margin: 15px 0;
}
.set-label{
	margin-top: 5px;
	margin-bottom:20px;
}
.affirm-label{
	margin-top: 5px;
	margin-bottom:20px;
}

.password-box input{
	border-radius: 0;
}

.password-box .form-group{
	width: 300px;
}

/*警告提醒*/
.pas-below-msg{
	display: block;
	font-size: 12px;
	border-radius: 2px;
	padding: 8px 12px;
	background: #F9E8E8;
	color: #C30;
	margin-top:5px ;
/*	display: none;*/
}
/*警告提醒*/

.passwoed-btns{
	display: block;
	margin-top: 30px;
}

.passwoed-btns .btn-one{
	display:block;
	width:125px;
	height: 42px;
	font-weight: normal;
	white-space: nowrap;
	text-overflow: ellipsis;
	border: 0;
	background: #5AC;
	color: #FFF;
	box-shadow: inset 0 -3px 0 #18A;
	border-radius: 5px;
}






@media (max-width: 770px) {
	/*内容容器*/
	.content-update{
		width: 100%;
		padding: 0 16px;
		margin-top: 46px;
		padding-bottom: 30px;
		border-left: none;
	}	
}

/*平板自适应*/
@media (max-width: 992px) {
	
}

