h3, body, p, ul, li { margin: 0; padding: 0; }
ul { list-style: none; }
body { background: #21202D; color: #fff; font-family: "微软雅黑"; }
.clearfix:after{height:0;visibility:hidden;display:block;line-height:0;clear:both;content:'.';}

.yi-container { position: relative; max-width: 1200px; background: #454545; margin: 0 auto; }
.yi-container header { position: relative; color: #ccc; padding: 15px 10px; }
.yi-container header li { float: left; margin-right: 20px; cursor: pointer; }
.yi-price { background: #333; color: #D83F4E; padding: 25px 0; }
.yi-price ul { overflow: hidden; }
.yi-price .yi-number { font-weight: bold; font-size: 28px; }
.yi-price .yi-number:nth-child(1) { font-size: 40px; }
.yi-price li { float: left; width: 25%; text-align: center; }
.yi-price .t { color: #ccc; position: relative; left: -35px; }
.yi-time { background: #454545; color: #ccc; height: 20px; padding: 10px; }
.yi-time>ul { float: right; cursor: pointer; }
.yi-time>div, .yi-time li { float: left; }
.yi-time li { margin-left: 25px; }
.yi-time li.active { color: #FDBE19; border-bottom: 1px solid #FDBE19; }
.yi-k { height: 520px; width: 100%; }
.layui-layer-content { color: #333; }

.fall{color:#D83F4E;}
.rise{color:#1FC65B;}